<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
         http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <security-role>
        <role-name>canDoThat</role-name>
    </security-role>

    <security-role>
        <role-name>canDoThis</role-name>
    </security-role>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>This</web-resource-name>
            <url-pattern>/auth/this/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>canDoThis</role-name>
        </auth-constraint>
    </security-constraint>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>That</web-resource-name>
            <url-pattern>/auth/that/*</url-pattern>
            <http-method>GET</http-method>
        </web-resource-collection>
        <auth-constraint>
            <role-name>canDoThat</role-name>
        </auth-constraint>
    </security-constraint>

    <login-config>
        <auth-method>BASIC</auth-method>
    </login-config>
    
    <servlet>
        <servlet-name>Listener</servlet-name>
        <servlet-class>com.alekseytyan.listener.ListenerTester</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>Listener</servlet-name>
        <url-pattern>/listener</url-pattern>
    </servlet-mapping>


    <context-param>
        <param-name>breed</param-name>
        <param-value>Great Dane</param-value>
    </context-param>

    <listener>
        <listener-class>
            com.alekseytyan.listener.MyServletContextListener
        </listener-class>
    </listener>
</web-app>